body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*--   heder  --*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*--  section titel  --*/

.title {
  background-color: #2e2f42;
  height: 600px;
  justify-items: center;
  padding: 188px 0;
}

.titel-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
}

.page-button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  border: 0;
}

/*--  section list  --*/

.list {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-container {
  display: flex;
}

.list-board {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.list-item {
  box-sizing: border-box;
  flex-basis: calc((100% - 72px) / 4);
}

/*--  section team  --*/

.team {
  background-color: #f4f4fd;
  height: 732px;
  padding: 120px 0;
}

.team-block-titel {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-position {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  padding: 32px 0;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.list-subtitel,
.team-subtitel,
.portfolio-subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-block,
.portfolio-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list .team-item {
  background-color: #fff;
}

/*--  section portfolio  --*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  height: 1000px;
}

.portfolio-block {
  margin-bottom: 72px;
}

.portfolio-blok-board {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-position {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-img {
  align-self: stretch;
}

/*--  section footer  --*/

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  box-sizing: content-box;
  max-width: 264px;
}

.logo {
  display: inline-block;
}

.footer-logo .logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo {
  margin-bottom: 16px;
}
